*{
   
    font-family: Arial, Helvetica, sans-serif;
   
}


body{
    background-color: aliceblue;
}

.container{
margin-top: 15%;
margin: auto;
    
    
    
    
}
.card{
    width: 25%;
    height: 35%;
    background-color: white;
    border-radius: 3%;
    margin: auto;
    margin-top: 16%;
}
.head{
     padding-left: 20px;
     padding-top: 6px;
  
    border-bottom: 1px solid rgb(237, 229, 229);
}
 #task{
    display: inline-block;
}
#symbol{
    display: inline-block;
    color: rgb(235, 206, 206);
    margin-left: 50%;
}
#learn{
    background-color: rgb(238, 246, 249);
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5%;
}
#button{
    background-color:rgb(159, 140, 240);
    border-radius: 5%;
    border: none;
    padding: 10px 23px;
    color: white;
    margin-left: 65%;
    margin-bottom: 5%;
}
#gt{
    font-size: 4em ;
    color:rgb(205, 201, 201);
    position: absolute;
    right: 150px;
    top: 50%;
}